*
!Cargo.toml
!Cargo.lock
!build.rs
!services.txt
!src/**/*.rs
!resources/embedded_icons/**/*.svg
!resources/DB/*.mmdb
!resources/fonts/subset/*.ttf
!resources/logos/raw/icon.png
!resources/packaging/windows/graphics/sniffnet.ico
!resources/sounds/*.mp3
