[Desktop Entry]
Version=1.0
Type=Application
Name=Sniffnet
Comment=Application to comfortably monitor your network traffic
Categories=Network;Utility;
Icon=sniffnet
Exec=/usr/bin/sniffnet %f
StartupWMClass=sniffnet
Terminal=false
MimeType=application/vnd.tcpdump.pcap;
Keywords=traffic;inspect;monitor;internet;network;
